input.checkbox[type= 'checkbox'] {
	display: none;

	& + label {
		font-size: 15px;
	}

	& + label:after {
		content: '';
		display: inline-block;
		width: 18px;
		height: 18px;
		background-image: url('../../Assets/checkboxes/checkbox.svg');
		background-position: left;
		background-size: 36px 18px;
		margin-left: 18px;
		vertical-align: middle;
	}

	&:checked + label:after {
		background-position: right;
	}
}
