@import-normalize;
@import-sanitize;
@import 'colours', 'fonts', 'functions', 'mixins';

$basefont-size: 16px;

body {
	font-family: $ff-open-sans;
	font-weight: 300;
	font-size: $basefont-size;
	color: color-get(text, copy);
}

code {
	font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff-archivo;
	font-weight: 500;
	color: color-get(text, heading);
}

h1 {
	@include font-get(heading, xl);
	margin-bottom: 1.5rem;
}

h2 {
	@include font-get(heading, l);
	margin-bottom: 1rem;
}

h3 {
	@include font-get(heading, m);
	margin-bottom: 0.75rem;
}

h4 {
	@include font-get(heading, s);
	margin-bottom: 0.5rem;
}

h5 {
	@include font-get(heading, xs);
	margin-bottom: 0.25rem;
}

p {
	@include font-get(para, m);
	margin-bottom: 0.75rem;
}
