@import '../../styles/colours';

.sideNav__item {

	&:last-child {
		padding-bottom: 80px;
	}
	
	.sideNav__link {
		display: block;
		padding: 0.6em 0.5em;
		color: color-get(utility, white);  /* stylelint-disable-line  */
		transition: all ease-out 0.6s;
		text-decoration: none;

		&:hover {
			background-color: rgba(166, 0, 22, 0.6);
			transition: all ease 0.3s;
		}

		&.current {
			background-color: rgba(166, 0, 22, 0.4);
		}
	}
}
