@import '../../styles/colours', '../../styles/mixins';

.accordion {
	list-style: none;
	width: 100%;
	padding-left: 0px;
	margin: 0;
}

.accordion-item {

	&__button {
		background-color: transparent;
		width: 100%;
		padding: 0;
		border: none;
		text-align: left;
		cursor: pointer;
		transition: all 0.33s ease;
	}

	&__background {
		overflow: hidden;
		transition: max-height 0.6s ease-out;

		.content {
			
			padding: 1em 0;
		}
	}
}

.accordion-item__button {

	.button-content {
		display: inline-flex;
		flex-wrap: wrap;
		width: 80%;
	}

	.btn-icon {
		float: right;
		margin-right: 1em;
		transition: all 2s ease-in-out;

		svg {
			stroke: none; /* stylelint-disable-line */
			width: rem(24px);
		}
	}
}

.active-btn { //this needs to be passed by the parent so the user can choose teh action
	display: initial;
}

.active-icon {
	transform: rotate(180deg);
}
