@import '../styles/colours';

html {
	background-color: color-get(utility, dark-grey);
	width: 100vw;
	height: 100vh;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.header {
	width: 75%;
	@media (min-width: 670px) {
		width: auto;
	}
}

.title {
	color: color-get(utility, light-grey);
	margin-top: 0;
}

.para {
	color: color-get(utility, white); /* stylelint-disable-line */
}

.link {
	display: block;
	color: color-get(brand, primary);
	margin-bottom: 2rem;
	transition: color 0.3s ease-out;

	&:hover {
		color: color-get(utility, white); /* stylelint-disable-line */
	}
}
