@import '../../styles/colours', '../../styles/mixins';

.accordion {
	list-style: none;
	width: 100%;
	padding-left: 0px;
	margin: 0;
}

.accordion-item {
	margin-bottom: 0.6em;

	&__button {
		background-color: color-get(utility, xlight-grey);
		width: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 1.5em;
		border: none;
		// border-top: 1px solid color-get(utility, dark-grey);
		border-bottom: 2px solid color-get(utility, dark-grey);
		color: color-get(text, copy);  /* stylelint-disable-line */
		text-align: left;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1em;
		cursor: pointer;
		transition: all 0.33s ease;

		&.active {
			background-color: color-get(utility, white);/* stylelint-disable-line */
			border-bottom: 2px solid color-get(brand, primary);
		}
	}

	&__background {
		border-bottom: 1px solid color-get(utility, dark-grey);
		background-color: color-get(utility, xlight-grey);
		overflow: hidden;
		transition: max-height 0.6s ease-out;

		.content {
			
			padding: 1em 1.5em;
		}
	}
}

.accordion-item__button {

	&.active {

		.rotate {
			transform: rotate(180deg);
		}
	}

	.button-content {
		display: inline-flex;
		flex-wrap: wrap;
		width: 80%;

		&__title {
			flex: 1 0 100%;
			margin-top: rem(4px);
			margin-bottom: rem(12px);
		}

		// &__child {

		// }
	}

	.icon {
		float: right;
		margin-right: 1em;
		transition: transform 0.3s ease;

		svg {
			stroke: color-get(text, copy); /* stylelint-disable-line */
			width: rem(24px);
		}
	}
}
