@import '../../styles/variable', '../../styles//mixins';

.main {

	.article {
		max-width: rem(960px);
		padding: 0rem 1.5rem 3rem;
	}

	@media screen and (min-width: #{$tablet}px) {

		.article {
			margin-left: 300px;
		}
	}
}
