@import "./styles/colours";

html {
	background-color: $grey-dark;
	width: 100vw;
	height: 100vh;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.header {
	width: 75%;
	@media  (min-width: 670px) {
		width: auto;
	}
}

.title {
	color: $grey-light;
	margin-top: 0;
	margin-bottom: 1rem;
}

.para {
	color: $white;
}

.link {
	display: block;
	color: $scribble-red;
	margin-bottom: 2rem;
	transition: color 0.3s ease-out;

	&:hover {
		color: $white;
	}
}
